@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
        url('../fonts/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/BebasNeueCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
      url("../fonts/BebasNeueRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #635854;
    padding-top: 12px; /* внутренний отступ сверху */
    padding-bottom: 12px; /* внутренний отступ снизу */
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;  /* сделали блок гибким */
    justify-content: space-between; /* расставили элементы по краям */
    align-items: center;
}

.navbar-menu {
    margin: 0;  /* отключаем внешние отступы */
    padding: 0; /* отключаем внутренние отступы */
    list-style: none; /* отключаем точки */
    display: flex;
    text-align: center;
}

.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}

.navbar-link {
    text-decoration: none;
    color: #FFF;
}

.navbar-text {
    display: block;
    color: white;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}

.navbar-phone {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.main {
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    display: flex;
    margin-bottom: 100px;
}

.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.home-image path {
    opacity: 0;
    cursor: pointer;
}

.home-image path:hover {
    opacity: 1;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.counter-down {
    transform: rotateX(180deg);
}

.button-primary {
    background-color: #3596F5;
    color: white;
    border-radius: 6px;
    padding: 16px 36px;
    cursor: pointer;
    border: none;
}

.main-title {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 37px;
    line-height: 37px;
    color: #635854;
}

.floor-counter {
    font-family: 'Bebas Neue', sans-serif;
    color: #635854;
    font-size: 124px;
    margin-top: 10px;
    
}

path.current-floor {
    opacity: 1;
}

.modal {
    position: fixed; /* фиксированная позиция, поверх сайта */
    left: 0; /* приклеиваем к левому краю */
    top: 0; /* приклеиваем к верху */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* полупрозрачность */
    display: flex; /* родительский блок гибкий */
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

.modal-dialog {
    position: relative;
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
}

.modal-image {
    background-color: #EBEBEB;
    width: 60%;
}

.modal-image {
    text-align: center;
    padding: 50px 0px 57px 0px;
}

.modal-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: bold;
}

.modal-info {
    padding: 50px 46px;
}

.flat-list {
    padding: 0;
    list-style: none;
    margin-top: 55px;
}
.flat-item {
    margin-bottom: 10px;
}
.flat-link {
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    text-decoration: none;
}

.flat-link:hover {
    color: #3596F5;
    text-decoration: underline;
}

.modal-alert {
    font-style: italic;
    color: #635854;
    margin-top: 56px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.modal-close-button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    border: none;
    margin-top: 38px;
    margin-right: 27px;
    cursor: pointer;
}

.flats path {
    opacity: 0;
    cursor: pointer;
}

.flats path:hover {
    opacity: 1;
}

.flats path.current-flat { opacity: 1; }

.flat-link.current-flat {
    color: #3596F5;
    text-decoration: underline;
    }